body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #1a2b3c;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #4db6ac !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav .container a img{
 width: 100px;
 height: 100px;
 border-radius: 50%;

}
.card {
    transition: all 0.3s ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.btn-primary {
    background-color: #1a2b3c;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
@media (max-width: 767.98px) {
    .card-img-top {
        height: 150px;
    }
 }